<?xml version="1.0" encoding="utf-8"?>
<robot name="rover_with_arm">

  <link name="base_link" />

  <joint name="base_to_chassis_joint" type="fixed">
    <origin xyz="0 0 0.43083" rpy="0 -1.5708 0" />
    <parent link="base_link" />
    <child link="chassis_link" />
  </joint>
  <link
    name="chassis_link">
    <inertial>
      <origin
        xyz="-0.160930995517805 0.0567423417730914 -0.00782758720815043"
        rpy="0 0 0" />
      <mass
        value="9.90010001726695" />
      <inertia
        ixx="0.0700249747187285"
        ixy="2.77044119297997E-07"
        ixz="9.64699999229296E-05"
        iyy="0.0306181387356148"
        iyz="-4.05669516072176E-07"
        izz="0.0533139186451046" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link
    name="RF">
    <inertial>
      <origin
        xyz="-0.070127125179043 5.89168811093721E-06 -1.21221895692525E-05"
        rpy="0 0 0" />
      <mass
        value="3.57448453557898" />
      <inertia
        ixx="0.0295859622143953"
        ixy="-3.45032340310931E-10"
        ixz="4.65651313211761E-10"
        iyy="0.0205584479844293"
        iyz="2.28253922016119E-06"
        izz="0.0205548004805363" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/RF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/RF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_joint"
    type="continuous">
    <origin
      xyz="-0.29083 -0.30404 -0.25109"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="chassis_link" />
    <child
      link="RF" />
    <axis
      xyz="-1 0 0" />
    <limit
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="LF">
    <inertial>
      <origin
        xyz="0.0702271724870632 -1.04460431388231E-05 -8.51704052695634E-06"
        rpy="0 0 0" />
      <mass
        value="3.57448131006854" />
      <inertia
        ixx="0.0295859622143955"
        ixy="-5.08954755758024E-10"
        ixz="-2.77206581178434E-10"
        iyy="0.0205560592467253"
        iyz="-2.86650441261477E-06"
        izz="0.0205571892182404" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/LF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/LF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_joint"
    type="continuous">
    <origin
      xyz="-0.290826080497761 0.316247207262208 -0.251089525412"
      rpy="-1.5707963267949 0 -1.5707963267949" />
    <parent
      link="chassis_link" />
    <child
      link="LF" />
    <axis
      xyz="-1 0 0" />
    <limit
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="LB">
    <inertial>
      <origin
        xyz="0.0702271251790433 1.20538068726916E-05 -6.03035724583423E-06"
        rpy="0 0 0" />
      <mass
        value="3.574484535579" />
      <inertia
        ixx="0.0295859622143955"
        ixy="4.61662707464414E-10"
        ixz="-3.50351239944112E-10"
        iyy="0.0205548533242689"
        iyz="2.32377721637767E-06"
        izz="0.0205583951406968" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/LB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/LB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_joint"
    type="continuous">
    <origin
      xyz="-0.29083 0.31625 0.34891"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="chassis_link" />
    <child
      link="LB" />
    <axis
      xyz="-1 0 0" />
    <limit
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="RB">
    <inertial>
      <origin
        xyz="-0.0702271724870632 1.23412855801974E-05 -5.41779169571655E-06"
        rpy="0 0 0" />
      <mass
        value="3.57448131006854" />
      <inertia
        ixx="0.0295859622143954"
        ixy="-5.64502264178318E-10"
        ixz="1.31208309299921E-10"
        iyy="0.0205546643219842"
        iyz="2.16675039901438E-06"
        izz="0.0205585841429814" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/RB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/RB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_joint"
    type="continuous">
    <origin
      xyz="-0.29083 -0.30414 0.34891"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="chassis_link" />
    <child
      link="RB" />
    <axis
      xyz="-1 0 0" />
    <limit
      effort="1000"
      velocity="10" />
  </joint>

  <link
    name="IMU">
    <inertial>
      <origin
        xyz="0.00134193003921145 0.00154722539149073 -0.00169171674705683"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="1e-05"
        ixy="0"
        ixz="0"
        iyy="1e-05"
        iyz="0"
        izz="1e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/IMU.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0.0 0.4 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/IMU.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="IMU_joint"
    type="fixed">
    <origin
      xyz="0.023111 0.0074304 0.026248"
      rpy="-1.5708 0.019058 -1.5708" />
    <parent
      link="chassis_link" />
    <child
      link="IMU" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="OPTICAL">
    <inertial>
      <origin
        xyz="-1.73472347597681E-18 1.38777878078145E-17 -0.00318525013167438"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="1e-05"
        ixy="0"
        ixz="0"
        iyy="1e-05"
        iyz="0"
        izz="1e-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/OPTICAL.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0.0 0.4 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/OPTICAL.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="OPTICAL_joint"
    type="fixed">
    <origin
      xyz="-0.091551 0.0046556 0.087323"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="chassis_link" />
    <child
      link="OPTICAL" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="GPS">
    <inertial>
      <origin
        xyz="0 1.38777878078145E-17 -0.0295024951902178"
        rpy="0 0 0" />
      <mass
        value="0.0146410874338426" />
      <inertia
        ixx="3.17358826692755E-05"
        ixy="-1.16645391067021E-21"
        ixz="3.22446708881848E-20"
        iyy="3.17358826692755E-05"
        iyz="1.78096689542018E-20"
        izz="1.93641269939486E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/GPS.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0.0 0.4 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/GPS.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="GPS_joint"
    type="fixed">
    <origin
      xyz="0.19045 0.20596 0.09541"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="chassis_link" />
    <child
      link="GPS" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link name="FLOW_CAM">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-05" ixy="0" ixz="0" iyy="1e-05" iyz="0" izz="1e-05"/>
    </inertial>
  </link>
  <joint name="FLOW_CAM_joint" type="fixed">
    <origin xyz="-0.16 0.0 -0.22" rpy="-1.5708 0 -1.5708"/>
    <parent link="chassis_link"/>
    <child link="FLOW_CAM"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="CAM_FRONT">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="1e-05" ixy="0" ixz="0" iyy="1e-05" iyz="0" izz="1e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
      <material name="cam_housing"><color rgba="0.15 0.15 0.15 1"/></material>
    </visual>
    <visual>
      <origin xyz="0 0.028 0" rpy="-1.5708 0 0"/>
      <geometry><cylinder radius="0.014" length="0.016"/></geometry>
      <material name="cam_lens"><color rgba="0.05 0.05 0.25 1"/></material>
    </visual>
    <visual>
      <origin xyz="0 -0.021 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.002 0.014"/></geometry>
      <material name="stripe_front"><color rgba="0.95 0.95 0.95 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
    </collision>
  </link>
  <joint name="CAM_FRONT_joint" type="fixed">
    <origin xyz="0.07 0.0 -0.22" rpy="0 1.5708 0"/>
    <parent link="chassis_link"/>
    <child link="CAM_FRONT"/>
  </joint>

  <link name="CAM_FL">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="1e-05" ixy="0" ixz="0" iyy="1e-05" iyz="0" izz="1e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
      <material name="cam_housing"/>
    </visual>
    <visual>
      <origin xyz="0 0.028 0" rpy="-1.5708 0 0"/>
      <geometry><cylinder radius="0.014" length="0.016"/></geometry>
      <material name="cam_lens"/>
    </visual>
    <visual>
      <origin xyz="0 -0.021 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.002 0.014"/></geometry>
      <material name="stripe_fl"><color rgba="0.0 0.85 0.85 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
    </collision>
  </link>
  <joint name="CAM_FL_joint" type="fixed">
    <origin xyz="0.07 0.20 -0.18" rpy="1.5708 0.7854 1.5708"/>
    <parent link="chassis_link"/>
    <child link="CAM_FL"/>
  </joint>

  <link name="CAM_FR">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="1e-05" ixy="0" ixz="0" iyy="1e-05" iyz="0" izz="1e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
      <material name="cam_housing"/>
    </visual>
    <visual>
      <origin xyz="0 0.028 0" rpy="-1.5708 0 0"/>
      <geometry><cylinder radius="0.014" length="0.016"/></geometry>
      <material name="cam_lens"/>
    </visual>
    <visual>
      <origin xyz="0 -0.021 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.002 0.014"/></geometry>
      <material name="stripe_fr"><color rgba="1.0 0.5 0.0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
    </collision>
  </link>
  <joint name="CAM_FR_joint" type="fixed">
    <origin xyz="0.07 -0.20 -0.18" rpy="-1.5708 0.7854 -1.5708"/>
    <parent link="chassis_link"/>
    <child link="CAM_FR"/>
  </joint>

  <link name="CAM_LEFT">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="1e-05" ixy="0" ixz="0" iyy="1e-05" iyz="0" izz="1e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
      <material name="cam_housing"/>
    </visual>
    <visual>
      <origin xyz="0 0.028 0" rpy="-1.5708 0 0"/>
      <geometry><cylinder radius="0.014" length="0.016"/></geometry>
      <material name="cam_lens"/>
    </visual>
    <visual>
      <origin xyz="0 -0.021 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.002 0.014"/></geometry>
      <material name="stripe_left"><color rgba="0.0 0.85 0.0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
    </collision>
  </link>
  <joint name="CAM_LEFT_joint" type="fixed">
    <origin xyz="0.04 0.26 0.15" rpy="1.5708 0 1.5708"/>
    <parent link="chassis_link"/>
    <child link="CAM_LEFT"/>
  </joint>

  <link name="CAM_RIGHT">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="1e-05" ixy="0" ixz="0" iyy="1e-05" iyz="0" izz="1e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
      <material name="cam_housing"/>
    </visual>
    <visual>
      <origin xyz="0 0.028 0" rpy="-1.5708 0 0"/>
      <geometry><cylinder radius="0.014" length="0.016"/></geometry>
      <material name="cam_lens"/>
    </visual>
    <visual>
      <origin xyz="0 -0.021 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.002 0.014"/></geometry>
      <material name="stripe_right"><color rgba="0.6 0.0 0.85 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
    </collision>
  </link>
  <joint name="CAM_RIGHT_joint" type="fixed">
    <origin xyz="0.04 -0.26 0.15" rpy="-1.5708 0 -1.5708"/>
    <parent link="chassis_link"/>
    <child link="CAM_RIGHT"/>
  </joint>

  <link name="CAM_REAR">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="1e-05" ixy="0" ixz="0" iyy="1e-05" iyz="0" izz="1e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
      <material name="cam_housing"/>
    </visual>
    <visual>
      <origin xyz="0 0.028 0" rpy="-1.5708 0 0"/>
      <geometry><cylinder radius="0.014" length="0.016"/></geometry>
      <material name="cam_lens"/>
    </visual>
    <visual>
      <origin xyz="0 -0.021 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.002 0.014"/></geometry>
      <material name="stripe_rear"><color rgba="0.9 0.1 0.1 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
    </collision>
  </link>
  <joint name="CAM_REAR_joint" type="fixed">
    <origin xyz="0.07 0.0 0.28" rpy="0 -1.5708 -3.1416"/>
    <parent link="chassis_link"/>
    <child link="CAM_REAR"/>
  </joint>

  <link name="CAM_SCIENCE">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="1e-05" ixy="0" ixz="0" iyy="1e-05" iyz="0" izz="1e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
      <material name="cam_housing"/>
    </visual>
    <visual>
      <origin xyz="0 0.028 0" rpy="-1.5708 0 0"/>
      <geometry><cylinder radius="0.014" length="0.016"/></geometry>
      <material name="cam_lens"/>
    </visual>
    <visual>
      <origin xyz="0 -0.021 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.002 0.014"/></geometry>
      <material name="stripe_science"><color rgba="1.0 0.9 0.0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.07 0.04 0.05"/></geometry>
    </collision>
  </link>
  <joint name="CAM_SCIENCE_joint" type="fixed">
    <origin xyz="-0.12 0.0 -0.20" rpy="0 0 1.5708"/>
    <parent link="chassis_link"/>
    <child link="CAM_SCIENCE"/>
  </joint>

  <gazebo reference="base_link">
    <material>Gazebo/Pink</material>
  </gazebo>
  
  <gazebo reference="LF">
    <mu1>1.0</mu1>
    <mu2>0.05</mu2>
    <material>Gazebo/Red</material>
  </gazebo>
  
  <gazebo reference="RF">
    <mu1>1.0</mu1>
    <mu2>0.05</mu2>
    <material>Gazebo/Red</material>
  </gazebo>
  
  <gazebo reference="LB">
    <mu1>1.0</mu1>
    <mu2>0.05</mu2>
    <material>Gazebo/Red</material>
  </gazebo>
  
  <gazebo reference="RB">
    <mu1>1.0</mu1>
    <mu2>0.05</mu2>
    <material>Gazebo/Red</material>
  </gazebo>

 

  <gazebo>
    <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
    </plugin>
  </gazebo>

  <!-- <gazebo>
    <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo> -->

 

  <gazebo reference="IMU">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>50</update_rate>
      <topic>imu/data</topic>
      <imu>
        <angular_velocity>
          <x><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev></noise></x>
          <y><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev></noise></y>
          <z><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev></noise></z>
        </angular_velocity>
        <linear_acceleration>
          <x><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></x>
          <y><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></y>
          <z><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  <gazebo reference="GPS">
    <sensor name="navsat_sensor" type="navsat">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <topic>gps/fix</topic>
    </sensor>
  </gazebo>

  <gazebo reference="OPTICAL">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <topic>rgbd_camera</topic>
      <camera>
        <horizontal_fov>1.0472</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
      <depth_camera>
        <clip>
          <near>0.1</near>
          <far>10</far>
        </clip>
      </depth_camera>
    </sensor>
  </gazebo>

  <gazebo reference="CAM_FRONT">
    <sensor name="cam_front" type="camera">
      <always_on>true</always_on>
      <update_rate>5</update_rate>
      <topic>cam/front/image_raw</topic>
      <camera>
        <horizontal_fov>1.3963</horizontal_fov>
        <image><width>1280</width><height>720</height><format>R8G8B8</format></image>
        <clip><near>0.1</near><far>100</far></clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="CAM_FL">
    <sensor name="cam_fl" type="camera">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <topic>cam/front_left/image_raw</topic>
      <camera>
        <horizontal_fov>1.5708</horizontal_fov>
        <image><width>640</width><height>480</height><format>R8G8B8</format></image>
        <clip><near>0.1</near><far>50</far></clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="CAM_FR">
    <sensor name="cam_fr" type="camera">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <topic>cam/front_right/image_raw</topic>
      <camera>
        <horizontal_fov>1.5708</horizontal_fov>
        <image><width>640</width><height>480</height><format>R8G8B8</format></image>
        <clip><near>0.1</near><far>50</far></clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="CAM_LEFT">
    <sensor name="cam_left" type="camera">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <topic>cam/left/image_raw</topic>
      <camera>
        <horizontal_fov>1.5708</horizontal_fov>
        <image><width>640</width><height>480</height><format>R8G8B8</format></image>
        <clip><near>0.1</near><far>50</far></clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="CAM_RIGHT">
    <sensor name="cam_right" type="camera">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <topic>cam/right/image_raw</topic>
      <camera>
        <horizontal_fov>1.5708</horizontal_fov>
        <image><width>640</width><height>480</height><format>R8G8B8</format></image>
        <clip><near>0.1</near><far>50</far></clip>
      </camera>
  </sensor>
  </gazebo>

  <gazebo reference="CAM_REAR">
    <sensor name="cam_rear" type="camera">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <topic>cam/rear/image_raw</topic>
      <camera>
        <horizontal_fov>1.5708</horizontal_fov>
        <image><width>640</width><height>480</height><format>R8G8B8</format></image>
        <clip><near>0.1</near><far>50</far></clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="CAM_SCIENCE">
    <sensor name="cam_science" type="camera">
      <always_on>true</always_on>
      <update_rate>5</update_rate>
      <topic>cam/science/image_raw</topic>
      <camera>
        <horizontal_fov>1.2217</horizontal_fov>
        <image><width>1280</width><height>720</height><format>R8G8B8</format></image>
        <clip><near>0.05</near><far>10</far></clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="FLOW_CAM">
    <sensor name="flow_camera" type="camera">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <topic>flow_cam/image</topic>
      <camera>
        <horizontal_fov>1.0472</horizontal_fov>
        <image>
          <width>120</width>
          <height>120</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>10</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="FLOW_CAM">
    <sensor name="range_sensor" type="gpu_lidar">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <topic>range/height</topic>
      <pose>0 0 0 0 0 0</pose>
      <lidar>
        <scan>
          <horizontal>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0</min_angle>
            <max_angle>0</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.01</min>
          <max>8.0</max>
          <resolution>0.001</resolution>
        </range>
      </lidar>
    </sensor>
  </gazebo>

  <joint name="rover_to_arm_joint" type="fixed">
    <origin xyz="0.08 0.0 0.50083" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="arm_base_link" />
  </joint>

  <link
    name="arm_base_link">
    <inertial>
      <origin
        xyz="0.0603212602811141 0.0650115074142707 0.02162446729854"
        rpy="0 0 0" />
      <mass
        value="0.50142029465297" />
      <inertia
        ixx="0.000319514636903112"
        ixy="-7.87438279933821E-08"
        ixz="-3.28639901204E-07"
        iyy="0.000333118854517782"
        iyz="-1.2582250163801E-08"
        izz="0.000510935815274996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="zaxis">
    <inertial>
      <origin
        xyz="-0.00716005792070847 0.00404721155954859 0.0365015581064805"
        rpy="0 0 0" />
      <mass
        value="1.33461322322797" />
      <inertia
        ixx="0.00294407502659064"
        ixy="7.60099411489531E-05"
        ixz="1.20714449731523E-05"
        iyy="0.00302546474877606"
        iyz="-7.39450020622318E-06"
        izz="0.00523883860594506" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/zaxis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/zaxis.STL" />
      </geometry>
  </collision>
  </link>
  <joint
    name="z_axis"
    type="revolute">
    <origin
      xyz="0.0211020680489503 0.0649999999999998 0.0950000000000002"
      rpy="0 0 0" />
    <parent
      link="arm_base_link" />
    <child
      link="zaxis" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="6.24"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0342960393506419 0.0650866615949618 0.260139710834608"
        rpy="0 0 0" />
      <mass
        value="0.471717784430801" />
      <inertia
        ixx="0.0048215045864105"
        ixy="-2.95077784158004E-09"
        ixz="-0.000442320588912317"
        iyy="0.00469876738868576"
        iyz="-1.91396301469037E-09"
        izz="0.000540612480368946" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_1"
    type="revolute">
    <origin
      xyz="0.0717427736589908 -0.118676975137196 0.0429999999999999"
      rpy="0 0 -0.539222444193772" />
    <parent
      link="zaxis" />
    <child
      link="link1" />
    <axis
      xyz="0 -1 0" /> <limit
      lower="-0.52"   upper="0.62"  effort="100"
      velocity="10" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.0111842896220878 0.0390244957145194 0.0568810553641114"
        rpy="0 0 0" />
      <mass
        value="0.56505728937743" />
      <inertia
        ixx="0.000736827471110781"
        ixy="-1.02697637259464E-10"
        ixz="5.1414535348473E-05"
        iyy="0.00112037157600434"
        iyz="5.72166182908804E-12"
        izz="0.00102896352167454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_2"
    type="revolute">
    <origin
      xyz="0.0463762994663664 0.0259999999999979 0.447603886095535"
      rpy="0 0.103241752091021 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1"
      upper="1"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.15229382933397 0.000156854221345315 0.00310777146765556"
        rpy="0 0 0" />
      <mass
        value="0.878471466072429" />
      <inertia
        ixx="0.000362156422178765"
        ixy="-3.12472541195768E-11"
        ixz="-2.12308143553033E-07"
        iyy="0.00439952004825401"
        iyz="-3.79063978101467E-08"
        izz="0.00435043337988437" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_3"
    type="revolute">
    <origin
      xyz="0.067242668214866 0.0390000000000044 0.0871856567347071"
      rpy="0.468343930204125 -0.299928960515459 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="6.28"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="wrist1">
    <inertial>
      <origin
        xyz="-0.00151017412525437 0.0524789597245494 0.0116604873944556"
        rpy="0 0 0" />
      <mass
        value="0.148650042219505" />
      <inertia
        ixx="3.34444822230191E-05"
        ixy="5.00779885062825E-10"
        ixz="8.60606304733012E-07"
        iyy="3.64087946207514E-05"
        iyz="-5.3279704581146E-10"
        izz="2.6910358122397E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/wrist1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/wrist1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_1"
    type="revolute">
    <origin
      xyz="-0.544000000000017 -0.0524800000000021 0"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="wrist1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="gripper-base">
    <inertial>
      <origin
        xyz="3.49703257014611E-05 -0.0166081836484884 0.00245791883868079"
        rpy="0 0 0" />
      <mass
        value="0.413549848316491" />
      <inertia
        ixx="0.000518022183409299"
        ixy="-2.99453705129393E-07"
        ixz="-6.16065422654147E-07"
        iyy="0.00324028081480373"
        iyz="-1.37365900028011E-05"
        izz="0.00283649097301424" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/gripper-base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.25" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/gripper-base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper-wrist"
    type="continuous">
    <origin
      xyz="-0.00704202903975437 0.0524785020943702 0.0543441409794076"
      rpy="-1.65253448174348 0.0997346165681447 2.45313293712552" />
    <parent
      link="wrist1" />
    <child
      link="gripper-base" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="claw1">
    <inertial>
      <origin
        xyz="0.02549326292166 -0.0438997271227292 -0.00962893950260642"
        rpy="0 0 0" />
      <mass
        value="0.0969827563371482" />
      <inertia
        ixx="1.81542355458617E-05"
        ixy="-3.4227080855438E-07"
        ixz="-1.12963395426777E-06"
        iyy="3.24587841714838E-05"
        iyz="2.45205523852197E-08"
        izz="2.18715307415096E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/claw1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/claw1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="claw1-slide"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="gripper-base" />
    <child
      link="claw1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.053"
      upper="0.053"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="finger1">
    <inertial>
      <origin
        xyz="-0.00709221732505511 -0.0522490411599353 0.000137460998135976"
        rpy="0 0 0" />
      <mass
        value="0.0165732372278614" />
      <inertia
        ixx="5.35494385454589E-06"
        ixy="-2.42629156140275E-07"
        ixz="-4.65175481726915E-09"
        iyy="4.13132761397344E-06"
        iyz="-1.31654832542712E-08"
        izz="1.59037915575076E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/finger1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/finger1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="finger1-rotate"
    type="revolute">
    <origin
      xyz="0.0086586 -0.060063 0.0013876"
      rpy="0 0 0" />
    <parent
      link="claw1" />
    <child
      link="finger1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.769"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="claw2">
    <inertial>
      <origin
        xyz="-0.0252889521008238 -0.0441107341461657 0.0109916971832964"
        rpy="0 0 0" />
      <mass
        value="0.0983378412337925" />
      <inertia
        ixx="1.8458831390781E-05"
        ixy="3.42267710596492E-07"
        ixz="-1.12964259635216E-06"
        iyy="3.27633747747371E-05"
        iyz="-2.45175752188469E-08"
        izz="2.18756138577448E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/claw2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/claw2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="claw2-slide"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="gripper-base" />
    <child
      link="claw2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.053"
      upper="0.053"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="finger2">
    <inertial>
      <origin
        xyz="0.0066304555915801 -0.0523726517355783 -5.96001071877066E-05"
        rpy="0 0 0" />
      <mass
        value="0.0165732374112398" />
      <inertia
        ixx="5.39025640808696E-06"
        ixy="1.93164512321618E-07"
        ixz="-2.33368356203983E-09"
        iyy="4.09601481363207E-06"
        iyz="1.38478243688029E-08"
        izz="1.59037914292937E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/finger2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robotic_arm/meshes/finger2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="finger2-rotate"
    type="revolute">
    <origin
      xyz="-0.0086586 -0.060063 0.00010471"
      rpy="0 0 0" />
    <parent
      link="claw2" />
    <child
      link="finger2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.769"
      effort="100"
      velocity="10" />
  </joint>


  <ros2_control name="GazeboSimSystem" type="system">
  <hardware>
    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
  </hardware>
    
    <joint name="z_axis">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">3.6544</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="link_1">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.52</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="link_2">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-0.0608</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="link_3">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.6245</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
      
    <joint name="wrist_1">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-0.7546</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="gripper-wrist">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="claw1-slide">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="claw2-slide">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="finger1-rotate">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="finger2-rotate">
      <command_interface name="position">
        <param name="p">100.0</param>
        <param name="d">10.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>


    <joint name="LB_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="LF_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="RB_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="RF_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find armmoveit)/config/ros2_controllers.yaml</parameters>

      <ros>
        <remapping>/rover_base_controller/cmd_vel_unstamped:=/cmd_vel</remapping>
      </ros>

      
    </plugin>
  </gazebo>

  

  
</robot>